<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.sys.CodeClassMapper">
<resultMap id="CodeClass" type="com.core136.bean.sys.CodeClass" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CODE_CLASS_ID" property="codeClassId" jdbcType="VARCHAR" />
    <result column="CODE_VALUE" property="codeValue" jdbcType="VARCHAR" />
    <result column="CODE_NAME" property="codeName" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>

<select id="getCodeClassByModule" resultType="java.util.HashMap">
		SELECT CODE_VALUE as codeValue, CODE_NAME as codeName 
		FROM CODE_CLASS WHERE ORG_ID=#{orgId} AND MODULE=#{module} ORDER BY SORT_NO DESC
</select>
 
    
</mapper>

