<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.account.UnitMapper">
<resultMap id="Unit" type="com.core136.bean.account.Unit" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ORG_ADD" property="orgAdd" jdbcType="VARCHAR" />
    <result column="ORG_TEL" property="orgTel" jdbcType="VARCHAR" />
    <result column="ORG_FAX" property="orgFax" jdbcType="VARCHAR" />
    <result column="ORG_POST" property="orgPost" jdbcType="VARCHAR" />
    <result column="ORG_EMAIL" property="orgEmail" jdbcType="VARCHAR" />
    <result column="ORG_LEGAL_PERSON" property="orgLegalPerson" jdbcType="VARCHAR" />
    <result column="ORG_LOGO" property="orgLogo" jdbcType="VARCHAR" />
    <result column="ORG_BANK" property="orgBank" jdbcType="VARCHAR" />
    <result column="ORG_BANK_ACCOUNT" property="orgBankAccount" jdbcType="VARCHAR" />
    <result column="ORG_TAX_NO" property="orgTaxNo" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>

<select id="getUnitByOrgId" resultMap="Unit">
        SELECT ID,ORG_NAME,ORG_ADD,ORG_TEL,ORG_FAX,ORG_POST,ORG_EMAIL,ORG_LOGO,ORG_ID,ORG_BANK,ORG_BANK_ACCOUNT,ORG_TAX_NO,ORG_LEGAL_PERSON
        FROM UNIT WHERE ORG_ID=#{orgId}
</select>
    
</mapper>

