<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.account.UserGroupMapper">
<resultMap id="UserGroup" type="com.core136.bean.account.UserGroup" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="GROUP_TITLE" property="groupTitle" jdbcType="VARCHAR" />
    <result column="GROUP_USERS" property="groupUsers" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>
<select id="getUserGroupListByAccountId" resultType="java.util.HashMap">
SELECT GROUP_ID AS groupId,GROUP_TITLE AS groupTitle
FROM USER_GROUP
WHERE ORG_ID=#{orgId} AND CREATE_USER=#{accountId}
</select>
</mapper>

