<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.echarts.EchartsBpmMapper">

<select id="getBiBpmFlowPie" resultType="java.util.HashMap">
 SELECT
 L.FLOW_ID AS FLOW_ID,
 (SELECT F.FLOW_NAME FROM BPM_FLOW F WHERE F.ORG_ID=#{orgId} AND F.FLOW_ID=L.FLOW_ID) AS "name",
 COUNT(1) AS "value"
 FROM
 BPM_LIST L 
 WHERE 
 L.ORG_ID=#{orgId}
GROUP BY
	FLOW_ID
ORDER BY "value"
	DESC
LIMIT 0,10
</select>



<select id="getBiBpmFlowByDeptPie" resultType="java.util.HashMap">
SELECT 
P.DEPT_ID,
COUNT(1) AS "value",
(SELECT D.DEPT_NAME FROM UNIT_DEPT D WHERE D.ORG_ID=#{orgId} AND D.DEPT_ID=P.DEPT_ID) AS "name"
 FROM
BPM_RUN_PROCESS B LEFT JOIN USER_INFO P ON B.ORG_ID=P.ORG_ID AND B.ACCOUNT_ID=P.ACCOUNT_ID
WHERE B.ORG_ID = #{orgId}
GROUP BY P.DEPT_ID
ORDER BY "value" DESC
LIMIT 0,10
</select>


<select id="getBiBpmFlowByAccountPie" resultType="java.util.HashMap">
SELECT
	C.ACCOUNT_ID,
	count(1) AS "value",
	(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=#{orgId} AND U.ACCOUNT_ID=C.ACCOUNT_ID) AS "name"
FROM
	BPM_RUN_PROCESS C
WHERE 
C.ORG_ID = #{orgId} 
GROUP BY C.ACCOUNT_ID 
ORDER BY value DESC LIMIT 0,10
</select>

<select id="getBiBpmFlowByMonthLine" resultType="java.util.HashMap">
SELECT COUNT(1) AS total,createTime
FROM
(SELECT LEFT(CREATE_TIME, 7) AS createTime
FROM BPM_LIST WHERE ORG_ID=#{orgId}) TEMP
WHERE TEMP.createTime&gt;#{beginTime} AND TEMP.createTime&lt;=#{endTime} GROUP BY TEMP.createTime
</select>

</mapper>

