<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.bpm.BpmFormMapper">
	<resultMap id="BpmForm" type="com.core136.bean.bpm.BpmForm">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="FORM_ID" property="fromId" jdbcType="VARCHAR" />
		<result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
		<result column="FORM_TITLE" property="formTitle" jdbcType="VARCHAR" />
		<result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="CREATE_DEPT" property="createDept" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="HTML_CODE" property="htmlCode" jdbcType="VARCHAR" />
		<result column="MOBILE_HTML_CODE" property="mobileHtmlCode" jdbcType="VARCHAR" />
		<result column="MOBILE_SCRIPT" property="mobileScript" jdbcType="VARCHAR" />
		<result column="MOBILE_STYLE" property="mobileStyle" jdbcType="VARCHAR" />
		<result column="STYLE" property="style" jdbcType="VARCHAR" />
		<result column="SCRIPT" property="script" jdbcType="VARCHAR" />
		<result column="BPM_TYPE_ID" property="bpmTypeId" jdbcType="VARCHAR"/>
		<result column="VERSION" property="servion" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getBpmFormTree" resultType="java.util.HashMap">
		SELECT FORM_ID AS
		bpmSortId, FORM_TITLE as bpmSortName,'false' AS isParent
		FROM BPM_FORM
		WHERE BPM_TYPE_ID=#{sortTypeId} AND ORG_ID=#{orgId}
	</select>
	
	
	<select id="getAllBpmFormListForSelect" resultType="java.util.HashMap">
		SELECT FORM_ID as formId,FORM_TITLE AS formTitle
		FROM BPM_FORM
		WHERE ORG_ID=#{orgId}
	</select>
	
	
	<select id="getBpmFormListByBpmTypeId" resultType="java.util.HashMap">
		SELECT FORM_ID AS formId,FORM_TITLE as formTitle,VERSION AS version,CREATE_TIME AS createTime,TABLE_NAME AS tableName,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=#{orgId} AND U.ACCOUNT_ID=CREATE_USER) AS createUserName
		FROM BPM_FORM
		WHERE BPM_TYPE_ID=#{bpmTypeId} AND ORG_ID=#{orgId}
	</select>

<select id="isExistMoblieHtmlCode" resultType="Integer">
		SELECT COUNT(1) AS total 
		FROM 
		BPM_FORM 
		WHERE
		ORG_ID=#{orgId}
		AND FORM_ID=#{formId}
		AND (MOBILE_HTML_CODE IS NULL OR MOBILE_HTML_CODE ='')
</select>

</mapper>

