<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.bpm.BpmFlowMapper">
	<resultMap id="BpmFlow" type="com.core136.bean.bpm.BpmFlow">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
		<result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
		<result column="FLOW_NAME" property="flowName" jdbcType="VARCHAR" />
		<result column="FORM_ID" property="formId" jdbcType="VARCHAR" />
		<result column="FLOW_SORT" property="flowSort" jdbcType="VARCHAR" />
		<result column="READ_FLAG" property="readFlag" jdbcType="VARCHAR" />
		<result column="FLOW_LOCK" property="flowLock" jdbcType="VARCHAR" />
		<result column="FREE_TO_OTHER" property="freeToOther" jdbcType="VARCHAR" />
		<result column="DOC_NUM_RULE" property="docNumRule" jdbcType="VARCHAR" />
		<result column="BEGIN_DOC_NUM" property="beginDocNum" jdbcType="VARCHAR" />
		<result column="END_TO_SEND" property="endToSend" jdbcType="VARCHAR" />
		<result column="QUERY_PRIV" property="queryPriv" jdbcType="VARCHAR" />
		<result column="MANAGE_PRIV" property="managePriv" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="PRINT_FIELD" property="printField" jdbcType="VARCHAR" />
		<result column="AUTO_STYLE" property="autoStyle" jdbcType="VARCHAR" />
		<result column="FLOW_CACHE" property="flowCache" jdbcType="VARCHAR" />
		<result column="ATTACH_PRIV" property="attachPriv" jdbcType="VARCHAR" />
		<result column="PRINT_FLAG" property="printFlag" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
	</resultMap>
	
	
	
	<select id="getBpmFlowTree" resultType="java.util.HashMap">
		SELECT FLOW_ID AS
		bpmSortId, FLOW_NAME AS bpmSortName,'false' AS isParent
		FROM BPM_FLOW
		WHERE FLOW_SORT=#{flowSort} AND ORG_ID=#{orgId}
	</select>

	<select id="isExist" resultType="Integer">
		SELECT COUNT(1) AS ZS FROM
		BPM_FLOW WHERE FLOW_ID=#{flowId} AND ORG_ID=#{orgId}
	</select>

	<select id="getMyEntrustList" resultType="java.util.HashMap">
		SELECT FLOW_ID AS flowId,FLOW_NAME AS flowName,
		FROM BPM_FLOW
		WHERE
		ORG_ID=#{orgId}
		AND FREE_TO_OTHER='1'
		AND FLOW_ID IN(
		SELECT DISTINCT
		FLOW_ID
		FROM BPM_PROCESS
		WHERE ORG_ID=#{orgId} AND PRCS_TYPE='1'
		AND(
		USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEAVE_PRIV = '@all'
		<if test="accountId!=''.toString() and accountId!=null">
		OR FUN_INTE_ARRAY(#{accountId},USER_PRIV) > 0
		</if>
		<if test="deptId!=''.toString() and deptId!=null">
			OR FUN_INTE_ARRAY(#{deptId},DEPT_PRIV) > 0
		</if>
		<if test="leaveId!=''.toString() and leaveId!=null">
			OR FUN_INTE_ARRAY(#{leaveId},LEAVE_PRIV) > 0
		</if>
		)
		)
	</select>

	<select id="getMyAllBpmFlowList" resultType="java.util.HashMap">
		SELECT FLOW_ID AS flowId,FLOW_NAME AS flowName
		FROM BPM_FLOW A
		WHERE
		FLOW_ID IN(
		SELECT DISTINCT FLOW_ID
		FROM BPM_PROCESS
		WHERE
		ORG_ID=#{orgId} AND PRCS_TYPE!='1' AND PRCS_TYPE!='2'
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=''.toString() and deptId!=null">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId}) > 0
		</if>
		<if test="leaveId!=''.toString() and leaveId!=null">
			OR FUN_INTE_ARRAY(LEAVE_PRIV,#{leaveId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEAVE_PRIV = '@all'
		)
		)
		AND A.FREE_TO_OTHER !='0'
	</select>

	<select id="getCorssBpmFlowList" resultType="java.util.HashMap">
		SELECT FLOW_ID AS
		flowId,FLOW_NAME AS flowName
		FROM BPM_FLOW
		WHERE
		ORG_ID = #{orgId}
		AND
		FLOW_ID IN
		(
		SELECT DISTINCT FLOW_ID FROM BPM_LIST WHERE
		ORG_ID =
		#{orgId}
		AND
		FUN_INTE_ARRAY(OP_USER_STR,#{accountId})>0
		)
	</select>


	<select id="getBpmFlowListByAccount" resultMap="BpmFlow">
		SELECT * FROM BPM_FLOW
		WHERE FLOW_ID IN(
		SELECT DISTINCT FLOW_ID
		FROM
		BPM_PROCESS
		WHERE ORG_ID=#{orgId} AND PRCS_TYPE='1'
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=''.toString() and deptId!=null">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId}) > 0
		</if>
		<if test="leaveId!=''.toString() and leaveId!=null">
			OR FUN_INTE_ARRAY(LEAVE_PRIV,#{leaveId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEAVE_PRIV = '@all'
		)
		)
	</select>
	
	<select id="getMyBpmFlowList" resultType="java.util.HashMap">
		SELECT B.ID AS id, B.FLOW_ID AS flowId,B.FLOW_NAME AS flowName,B.FORM_ID AS formId,B.CREATE_TIME AS createTime,U.USER_NAME AS createUserName 
		FROM 
		BPM_FLOW B ,USER_INFO U
		WHERE
		B.ORG_ID = U.ORG_ID AND
		B.CREATE_USER = U.ACCOUNT_ID AND
		B.ORG_ID=#{orgId} AND
		B.STATUS!='1'
		<if test="flowSort!=''.toString() and flowSort!=null">
			AND B.FLOW_SORT=#{flowSort} 
		</if>
		AND B.FLOW_ID IN(
		SELECT DISTINCT FLOW_ID
		FROM
		BPM_PROCESS
		WHERE ORG_ID=#{orgId} AND PRCS_TYPE='1'
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=''.toString() and deptId!=null">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId}) > 0
		</if>
		<if test="leaveId!=''.toString() and leaveId!=null">
			OR FUN_INTE_ARRAY(LEAVE_PRIV,#{leaveId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEAVE_PRIV = '@all'
		)
	)
	</select>
	
	
	<select id="getMobileBpmFlowList" resultType="java.util.HashMap">
		SELECT B.ID AS id, B.FLOW_ID AS flowId,B.FLOW_NAME AS flowName,B.FORM_ID AS formId,
		B.CREATE_TIME AS createTime,U.USER_NAME AS createUserName 
		FROM 
		BPM_FLOW B,USER_INFO U
		WHERE
		B.ORG_ID = U.ORG_ID AND
		B.CREATE_USER = U.ACCOUNT_ID AND
		B.ORG_ID=#{orgId} 
		AND B.FLOW_ID IN(
		SELECT DISTINCT FLOW_ID
		FROM
		BPM_PROCESS
		WHERE ORG_ID=#{orgId} AND PRCS_TYPE='1'
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=''.toString() and deptId!=null">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId}) > 0
		</if>
		<if test="leaveId!=''.toString() and leaveId!=null">
			OR FUN_INTE_ARRAY(LEAVE_PRIV,#{leaveId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEAVE_PRIV = '@all'
		)
		)
		ORDER BY B.FLOW_SORT DESC  LIMIT ${page},10
	</select>

<select id="getAllBpmFlowListByManage" resultType="java.util.HashMap">
SELECT FLOW_ID AS flowId,FLOW_NAME AS flowName FROM BPM_FLOW WHERE ORG_ID=#{orgId}
</select>

<select id="getBpmFlowInByManage" resultType="java.util.HashMap">
SELECT FLOW_ID AS flowId,FLOW_NAME AS flowName FROM BPM_FLOW WHERE ORG_ID=#{orgId}
AND FUN_INTE_ARRAY(MANAGE_PRIV,#{accountId}) > 0 
</select>

<select id="getAllBpmFlowListByFlowSort" resultType="java.util.HashMap">
SELECT B.FLOW_ID AS flowId,B.FLOW_NAME AS flowName,B.FORM_ID AS formId,A.FORM_TITLE AS formTitle,A.TABLE_NAME AS tableName,B.STATUS AS status,
B.DOC_NUM_RULE AS docNumRule,B.CREATE_TIME AS createTime,(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=#{orgId} AND U.ACCOUNT_ID=B.CREATE_USER)AS createUserName,
A.VERSION AS version
FROM 
BPM_FLOW B LEFT JOIN BPM_FORM A ON A.ORG_ID=B.ORG_ID AND A.FORM_ID=B.FORM_ID
WHERE 
B.ORG_ID=#{orgId} AND B.FLOW_SORT=#{flowSort}
</select>


<select id="getQueryAdvFlowList" resultType="java.util.HashMap">
SELECT B.FLOW_ID AS flowId,B.FLOW_NAME AS flowName,
(SELECT COUNT(*) FROM BPM_LIST L WHERE L.ORG_ID=#{orgId} AND L.FLOW_ID=B.FLOW_ID AND L.STATUS='0' AND L.DEL_FLAG='0') AS processZs,
(SELECT COUNT(*) FROM BPM_LIST L WHERE L.ORG_ID=#{orgId} AND L.FLOW_ID=B.FLOW_ID AND L.STATUS='1' AND L.DEL_FLAG='0') AS endZs,
(SELECT COUNT(*) FROM BPM_LIST L WHERE L.ORG_ID=#{orgId} AND L.FLOW_ID=B.FLOW_ID AND L.DEL_FLAG!='0') AS delZs
FROM BPM_FLOW B
WHERE B.ORG_ID=#{orgId}
<if test="accountId!=''.toString() and accountId!=null">
	AND FUN_INTE_ARRAY(B.QUERY_PRIV,#{accountId}) > 0
</if>
</select>

<select id="getCommonBpmFlowListByAccount" resultMap="BpmFlow">
	SELECT F.*,TEMP.ZS FROM 
	BPM_FLOW F LEFT JOIN
	(SELECT FLOW_ID,ORG_ID,COUNT(*) AS ZS FROM BPM_LIST WHERE CREATE_USER=#{accountId} AND ORG_ID=#{orgId} GROUP BY FLOW_ID ) TEMP 
	ON F.FLOW_ID=TEMP.FLOW_ID AND F.ORG_ID=TEMP.ORG_ID 
	WHERE F.ORG_ID=#{orgId} AND F.STATUS!='1'
	ORDER BY ZS DESC  LIMIT 0,10
</select>


</mapper>

