<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.document.DocumentListMapper">
	<resultMap id="DocumentList" type="com.core136.bean.document.DocumentList">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="RUN_ID" property="runId" jdbcType="VARCHAR" />
		<result column="FLOW_TITLE" property="flowTitle" jdbcType="VARCHAR" />
		<result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
		<result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
		<result column="FOLLOW" property="follow" jdbcType="VARCHAR" />
		<result column="URGENCY" property="urgency" jdbcType="VARCHAR" />
		<result column="OP_USER_STR" property="opUserStr" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
		<result column="ATTACH" property="attach" jdbcType="VARCHAR" />
		<result column="PARENT_RUN_ID" property="parentRunId" jdbcType="VARCHAR" />
		<result column="PARENT_PROCESS_ID" property="parentProcessId" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
	</resultMap>
<update id="updateFlowListByRunId">
        UPDATE DOCUMENT_LIST
        <set>
            <if test="(opUserStr != null) and (opUserStr!='')">OP_USER_STR=#{opUserStr}</if>
        </set>
        WHERE ORG_ID = #{orgId} AND RUN_ID = #{runId}
</update>

<update id="updateFlowListDocumentEnd">
        UPDATE DOCUMENT_LIST SET
            <if test="(opUserStr != null) and (opUserStr!=null)">OP_USER_STR=#{opUserStr},</if>
            <if test="(endTime != null) and (endTime!=null)">END_TIME=#{endTime},</if>
           STATUS='1'
        WHERE ORG_ID = #{orgId} AND RUN_ID = #{runId}
</update>

<select id="getMyEndCrossDocumentFlowList" resultType="java.util.HashMap">
SELECT L.ID AS id,L.FLOW_ID AS flowId,L.RUN_ID AS runId,L.FLOW_TITLE AS flowTitle, L.CREATE_TIME AS createTime,L.END_TIME AS endTime,
L.URGENCY AS urgency,ATTACH AS attach,L.CREATE_USER AS createUser,L.OP_USER_STR AS opUserStr,
(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=L.ORG_ID AND U.ACCOUNT_ID = L.CREATE_USER) AS createUserName
FROM DOCUMENT_LIST L 
WHERE
L.ORG_ID=#{orgId}
AND L.DEL_FLAG ='0'
AND L.STATUS = '1'
<if test="range!='0'.toString()">
AND L.CREATE_USER = #{accountId}
</if>
<if test="range=='1'.toString()">
AND FUN_INTE_ARRAY(L.OP_USER_STR,#{accountId}) > 0
</if>
<if test="search !='%%'.toString() and search !=''.toString() and search!=null">
AND L.FLOW_TITLE LIKE #{search}
</if>
<if test = "(beginTime!=''.toString() and beginTime!=null)">
	AND L.CREATE_TIME &gt;=#{beginTime}
</if>
<if test = "(endTime!=''.toString() and endTime!=null)">
	AND L.CREATE_TIME &lt;=#{endTime}
</if>
<if test="(flowId!=''.toString() and flowId!=null)">
AND L.FLOW_ID = #{flowId}
</if>
AND L.FLOW_ID IN(SELECT F.FLOW_ID FROM DOCUMENT_FLOW F WHERE F.ORG_ID=#{orgId} AND F.DOCUMENT_TYPE='2')
</select>

<select id="getMyEndCrossDocumentFlowList1" resultType="java.util.HashMap">
SELECT L.ID AS id,L.FLOW_ID AS flowId,L.RUN_ID AS runId,L.FLOW_TITLE AS flowTitle, L.CREATE_TIME AS createTime,L.END_TIME AS endTime,
L.URGENCY AS urgency,ATTACH AS attach,L.CREATE_USER AS createUser,L.OP_USER_STR AS opUserStr,
(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=L.ORG_ID AND U.ACCOUNT_ID = L.CREATE_USER) AS createUserName
FROM DOCUMENT_LIST L 
WHERE
L.ORG_ID=#{orgId}
AND L.DEL_FLAG ='0'
AND L.STATUS = '1'
<if test="range!='0'.toString()">
AND L.CREATE_USER = #{accountId}
</if>
<if test="range=='1'.toString()">
AND FUN_INTE_ARRAY(L.OP_USER_STR,#{accountId}) > 0
</if>
<if test="search !='%%'.toString() and search !=''.toString() and search!=null">
AND L.FLOW_TITLE LIKE #{search}
</if>
<if test = "(beginTime!=''.toString() and beginTime!=null)">
	AND L.CREATE_TIME &gt;=#{beginTime}
</if>
<if test = "(endTime!=''.toString() and endTime!=null)">
	AND L.CREATE_TIME &lt;=#{endTime}
</if>
<if test="(flowId!=''.toString() and flowId!=null)">
AND L.FLOW_ID = #{flowId}
</if>
AND L.FLOW_ID IN(SELECT F.FLOW_ID FROM DOCUMENT_FLOW F WHERE F.ORG_ID=#{orgId} AND F.DOCUMENT_TYPE='1')
</select>


<select id="getProcessDocumentFlowList" resultType="java.util.HashMap">
SELECT ID AS id,RUN_ID AS runId,FLOW_ID AS flowId,FLOW_TITLE AS flowTitle,OP_USER_STR AS opUserStr,CREATE_TIME AS createTime,CREATE_USER AS createUser,
(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName,URGENCY AS urgency 
FROM 
DOCUMENT_LIST 
WHERE 
ORG_ID = #{orgId} 
AND DEL_FLAG ='0'
AND STATUS='0'
AND FUN_INTE_ARRAY(OP_USER_STR,#{accountId}) > 0
<if test="(pDocumentRunNo!=null) and (pDocumentRunNo!=0)">
	AND ID = #{pDocumentRunNo}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
AND FLOW_TITLE LIKE #{search}
</if>
<if test = "(pBeginTime!='') and (pBeginTime!=null)">
	AND CREATE_TIME &gt;=#{pBeginTime}
</if>
<if test = "(pEndTime!='') and (pEndTime!=null)">
	AND CREATE_TIME &lt;=#{pEndTime}
</if>
<if test="(pFlowId!='') and (pFlowId!=null)">
	AND FLOW_ID = #{pFlowId}
</if>
AND FLOW_ID IN(SELECT F.FLOW_ID FROM DOCUMENT_FLOW F WHERE F.ORG_ID=#{orgId} AND F.DOCUMENT_TYPE='2')
</select>

<select id="getProcessDocumentFlowList1" resultType="java.util.HashMap">
SELECT ID AS id,RUN_ID AS runId,FLOW_ID AS flowId,FLOW_TITLE AS flowTitle,OP_USER_STR AS opUserStr,CREATE_TIME AS createTime,CREATE_USER AS createUser,
(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName,URGENCY AS urgency 
FROM 
DOCUMENT_LIST 
WHERE 
ORG_ID = #{orgId} 
AND DEL_FLAG ='0'
AND STATUS='0'
AND FUN_INTE_ARRAY(OP_USER_STR,#{accountId}) > 0
<if test="(pDocumentRunNo!=null) and (pDocumentRunNo!=0)">
	AND ID = #{pDocumentRunNo}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
AND FLOW_TITLE LIKE #{search}
</if>
<if test = "(pBeginTime!='') and (pBeginTime!=null)">
	AND CREATE_TIME &gt;=#{pBeginTime}
</if>
<if test = "(pEndTime!='') and (pEndTime!=null)">
	AND CREATE_TIME &lt;=#{pEndTime}
</if>
<if test="(pFlowId!='') and (pFlowId!=null)">
	AND FLOW_ID = #{pFlowId}
</if>
AND FLOW_ID IN(SELECT F.FLOW_ID FROM DOCUMENT_FLOW F WHERE F.ORG_ID=#{orgId} AND F.DOCUMENT_TYPE='1')
</select>

<select id="getDocumentMaintainList" resultType="java.util.HashMap">
SELECT ID AS id,RUN_ID AS runId,FLOW_ID AS flowId,FLOW_TITLE AS flowTitle,CREATE_TIME AS createTime,END_TIME AS endTime,
URGENCY AS urgency,ATTACH AS attach,CREATE_USER AS createUser,OP_USER_STR AS opUserStr,
(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID = CREATE_USER) AS createUserName,
STATUS AS status 
FROM DOCUMENT_LIST 
WHERE ORG_ID=#{orgId} AND DEL_FLAG!='2'
<if test="(documentRunNo!=null) and (documentRunNo!='')">
	AND ID = #{documentRunNo}
</if>
<if test="(flowId!=null) and (flowId!='')">
	AND FLOW_ID = #{flowId}
</if>
<if test="(createUser!=null) and (createUser!='')">
	AND CREATE_USER = #{createUser}
</if>
<if test = "(beginTime!='') and (beginTime!=null)">
	AND CREATE_TIME &gt;=#{beginTime}
</if>
<if test = "(endTime!='') and (endTime!=null)">
	AND CREATE_TIME &lt;=#{endTime}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
	AND FLOW_TITLE LIKE #{search}
</if>
</select>


<select id="getDocumentToFilingList" resultType="java.util.HashMap">
SELECT ID AS id,RUN_ID AS runId,FLOW_ID AS flowId,FLOW_TITLE AS flowTitle,CREATE_TIME AS createTime,END_TIME AS endTime,
URGENCY AS urgency,ATTACH AS attach,CREATE_USER AS createUser,OP_USER_STR AS opUserStr,
(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID = CREATE_USER) AS createUserName,
STATUS AS status 
FROM DOCUMENT_LIST 
WHERE ORG_ID=#{orgId} AND DEL_FLAG='0' AND STATUS='1'
<if test="(documentRunNo!=null) and (documentRunNo!='')">
	AND ID = #{documentRunNo}
</if>
<if test="(flowId!=null) and (flowId!='')">
	AND FLOW_ID = #{flowId}
</if>
<if test="(createUser!=null) and (createUser!='')">
	AND CREATE_USER = #{createUser}
</if>
<if test = "(beginTime!='') and (beginTime!=null)">
	AND CREATE_TIME &gt;=#{beginTime}
</if>
<if test = "(endTime!='') and (endTime!=null)">
	AND CREATE_TIME &lt;=#{endTime}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
	AND FLOW_TITLE LIKE #{search}
</if>
</select>


<select id="getXDocumentList" resultType="java.util.HashMap">
		SELECT ID AS id,RUN_ID AS runId,FLOW_TITLE AS flowTitle,CREATE_TIME AS createTime,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUser 
		FROM 
		DOCUMENT_LIST 
		WHERE
		ORG_ID=#{orgId} 
		<if test="list!=null">
			AND RUN_ID IN
			<foreach collection="list" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
<select id="getDocumentSelectMyCreateList" resultType="java.util.HashMap">
		SELECT ID AS id,RUN_ID AS runId,FLOW_TITLE AS flowTitle,CREATE_TIME AS createTime,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUser 
		FROM 
		DOCUMENT_LIST 
		WHERE
		ORG_ID=#{orgId}
		AND CREATE_USER = #{accountId}
		<if test="search !='%%' and search !=''.toString() and search!=null">
			AND (FLOW_TITLE LIKE #{search} OR ID LIKE #{search})
		</if>
</select>

<select id="getDocumentSelectMyCorssList" resultType="java.util.HashMap">
		SELECT ID AS id,RUN_ID AS runId,FLOW_TITLE AS flowTitle,CREATE_TIME AS createTime,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUser 
		FROM 
		DOCUMENT_LIST 
		WHERE
		ORG_ID=#{orgId}
		AND FUN_INTE_ARRAY(OP_USER_STR,#{accountId}) > 0
		<if test="search !='%%' and search !=''.toString() and search!=null">
			AND (FLOW_TITLE LIKE #{search} OR ID LIKE #{search})
		</if>
</select>


<select id="getDocumentSelectInFlowIdList" resultType="java.util.HashMap">
		SELECT ID AS id,RUN_ID AS runId,FLOW_TITLE AS flowTitle,CREATE_TIME AS createTime,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUser 
		FROM 
		DOCUMENT_LIST 
		WHERE
		ORG_ID=#{orgId}
		AND FLOW_ID=#{flowId}
		<if test="search !='%%' and search !=''.toString() and search!=null">
			AND (FLOW_TITLE LIKE #{search} OR ID LIKE #{search})
		</if>
</select>

<select id="getDocumentSelectInManageList" resultType="java.util.HashMap">
		SELECT ID AS id,RUN_ID AS runId,FLOW_TITLE AS flowTitle,CREATE_TIME AS createTime,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUser 
		FROM 
		DOCUMENT_LIST 
		WHERE
		ORG_ID=#{orgId}
		AND FLOW_ID IN(SELECT FLOW_ID FROM DOCUMENT_FLOW WHERE ORG_ID=#{orgId} 
		AND FUN_INTE_ARRAY(MANAGE_PRIV,#{accountId})>0
		<if test="search !='%%' and search !=''.toString() and search!=null">
			AND (FLOW_TITLE LIKE #{search} OR ID LIKE #{search})
		</if>
</select>

<select id="getDocnum" resultType="Integer">
		SELECT COUNT(1) AS total 
		FROM 
		DOCUMENT_LIST 
		WHERE
		ORG_ID=#{orgId}
		AND FLOW_ID=#{flowId}
		AND ID &lt;#{id}
</select>

<select id="getMyDocumentCount" resultType="Integer">
		SELECT COUNT(1) AS total 
		FROM 
		DOCUMENT_LIST 
		WHERE
		ORG_ID=#{orgId}
		AND FUN_INTE_ARRAY(OP_USER_STR,#{accountId}) > 0
</select>
<!-- 当前用户查询BPM流程 -->
	<select id="searchDocumentList" resultType="java.util.HashMap">
		SELECT
		B.ID AS id,
		B.RUN_ID AS runId,
		B.FLOW_ID AS flowId,
		B.URGENCY AS urgency,
		B.FLOW_TITLE AS flowTitle,
		B.CREATE_TIME AS createTime,
		B.OP_USER_STR AS opUserStr,
		B.STATUS AS status,
		(
		SELECT
		U.USER_NAME
		FROM
		USER_INFO U
		WHERE
		B.CREATE_USER = U.ACCOUNT_ID AND B.ORG_ID=U.ORG_ID
		) AS createUser
		FROM
		DOCUMENT_LIST B
		WHERE
		B.ORG_ID=#{orgId}
		AND B.DEL_FLAG='0'
		<if test="id!= null">
			AND B.ID =#{id}
		</if>
		<if test="(flowId!=null) and (flowId!='')">
			AND B.FLOW_ID =#{flowId}
		</if>
		<if test="(createUser!=null) and (createUser!='')">
			AND B.CREATE_USER =#{createUser}
		</if>
		<if test="status!= '-1'">
			AND B.STATUS =#{status}
		</if>
		<if test="managePriv=='0'.toString()">
			AND (
			B.RUN_ID IN (SELECT DISTINCT RUN_ID FROM DOCUMENT_RUN_PROCESS WHERE
			ORG_ID=B.ORG_ID AND ACCOUNT_ID=#{accountId})
			OR B.FLOW_ID IN(SELECT DISTINCT FLOW_ID FROM DOCUMENT_FLOW WHERE
			ORG_ID=B.ORG_ID
			AND
			(
			FUN_INTE_ARRAY(QUERY_PRIV,#{accountId})>0
			OR
			FUN_INTE_ARRAY(MANAGE_PRIV,#{accountId})>0
			)
			)
			)
		</if>
		<if test="managePriv=='1'.toString()">
			AND B.RUN_ID IN(SELECT DISTINCT RUN_ID FROM DOCUMENT_RUN_PROCESS WHERE
			ORG_ID=B.ORG_ID AND ACCOUNT_ID=#{accountId})
		</if>
		<if test="managePriv=='2'.toString()">
			AND B.FLOW_ID IN(SELECT DISTINCT FLOW_ID FROM DOCUMENT_FLOW WHERE
			ORG_ID=B.ORG_ID
			AND
			(
			FUN_INTE_ARRAY(QUERY_PRIV,#{accountId})>0
			OR
			FUN_INTE_ARRAY(MANAGE_PRIV,#{accountId})>0
			)
			)
		</if>
		<if test="search!= '%%'.toString()">
			AND(B.FLOW_TITLE LIKE #{search} OR B.RUN_ID=#{search})
		</if>
	</select>
	<!-- 当前用户查询BPM流程 -->
	<select id="searchDocumentListForMobile" resultType="java.util.HashMap">
		SELECT
		B.ID AS id,
		B.RUN_ID AS runId,
		B.FLOW_ID AS flowId,
		B.URGENCY AS urgency,
		B.FLOW_TITLE AS flowTitle,
		B.CREATE_TIME AS createTime,
		B.OP_USER_STR AS opUserStr,
		B.STATUS AS status,
		(
		SELECT
		U.USER_NAME
		FROM
		USER_INFO U
		WHERE
		B.CREATE_USER = U.ACCOUNT_ID AND B.ORG_ID=U.ORG_ID
		) AS createUser
		FROM
		DOCUMENT_LIST B
		WHERE
		B.ORG_ID=#{orgId}
		AND B.DEL_FLAG='0'
		<if test="id!= null">
			AND B.ID =#{id}
		</if>
		<if test="(flowId!=null) and (flowId!='')">
			AND B.FLOW_ID =#{flowId}
		</if>
		<if test="(createUser!=null) and (createUser!='')">
			AND B.CREATE_USER =#{createUser}
		</if>
		<if test="status!= '-1'">
			AND B.STATUS =#{status}
		</if>
		<if test="managePriv=='0'.toString()">
			AND (
			B.RUN_ID IN (SELECT DISTINCT RUN_ID FROM DOCUMENT_RUN_PROCESS WHERE
			ORG_ID=B.ORG_ID AND ACCOUNT_ID=#{accountId})
			OR B.FLOW_ID IN(SELECT DISTINCT FLOW_ID FROM DOCUMENT_FLOW WHERE
			ORG_ID=B.ORG_ID
			AND
			(
			FUN_INTE_ARRAY(QUERY_PRIV,#{accountId})>0
			OR
			FUN_INTE_ARRAY(MANAGE_PRIV,#{accountId})>0
			)
			)
			)
		</if>
		<if test="managePriv=='1'.toString()">
			AND B.RUN_ID IN(SELECT DISTINCT RUN_ID FROM DOCUMENT_RUN_PROCESS WHERE
			ORG_ID=B.ORG_ID AND ACCOUNT_ID=#{accountId})
		</if>
		<if test="managePriv=='2'.toString()">
			AND B.FLOW_ID IN(SELECT DISTINCT FLOW_ID FROM DOCUMENT_FLOW WHERE
			ORG_ID=B.ORG_ID
			AND
			(
			FUN_INTE_ARRAY(QUERY_PRIV,#{accountId})>0
			OR
			FUN_INTE_ARRAY(MANAGE_PRIV,#{accountId})>0
			)
			)
		</if>
		<if test="search!= '%%'.toString()">
			AND(B.FLOW_TITLE LIKE #{search} OR B.RUN_ID=#{search})
		</if>
		ORDER BY B.ID ASC LIMIT ${page},10
	</select>
	
	<select id="getDocumentSummary" resultType="java.util.HashMap">
	SELECT
	(SELECT COUNT(1) FROM 
	(SELECT D.FLOW_ID AS flowId,F.FLOW_NAME AS flowName,F.DOCUMENT_TYPE AS documentType,D.END_TIME AS endTime,D.DEL_FLAG AS delFlag
	FROM DOCUMENT_LIST D LEFT JOIN DOCUMENT_FLOW F ON D.ORG_ID=F.ORG_ID AND D.FLOW_ID=F.FLOW_ID WHERE D.ORG_ID=#{orgId} AND D.FLOW_ID=#{flowId}) TMP
	WHERE TMP.endTime ='') AS inCount,
	(SELECT COUNT(1) FROM 
	(SELECT D.FLOW_ID AS flowId,F.FLOW_NAME AS flowName,F.DOCUMENT_TYPE AS documentType,D.END_TIME AS endTime,D.DEL_FLAG AS delFlag
	FROM DOCUMENT_LIST D LEFT JOIN DOCUMENT_FLOW F ON D.ORG_ID=F.ORG_ID AND D.FLOW_ID=F.FLOW_ID WHERE D.ORG_ID=#{orgId} AND D.FLOW_ID=#{flowId}) TMP
	WHERE TMP.endTime !='') AS endCount,
	(SELECT COUNT(1) FROM 
	(SELECT D.FLOW_ID AS flowId,F.FLOW_NAME AS flowName,F.DOCUMENT_TYPE AS documentType,D.END_TIME AS endTime,D.DEL_FLAG AS delFlag
	FROM DOCUMENT_LIST D LEFT JOIN DOCUMENT_FLOW F ON D.ORG_ID=F.ORG_ID AND D.FLOW_ID=F.FLOW_ID WHERE D.ORG_ID=#{orgId} AND D.FLOW_ID=#{flowId}) TMP
	WHERE TMP.delFlag='1') AS delCount
	
	</select>
</mapper>

