<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.document.DocumentProcessMapper">
	<resultMap id="DocumentProcess" type="com.core136.bean.document.DocumentProcess">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
		<result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
		<result column="PROCESS_ID" property="processId" jdbcType="VARCHAR" />
		<result column="PRCS_NAME" property="prcsName" jdbcType="VARCHAR" />
		<result column="PRCS_TYPE" property="prcsType" jdbcType="VARCHAR" />
		<result column="POINT_X" property="pointX" jdbcType="INTEGER"/>
		<result column="POINT_Y" property="pointY" jdbcType="INTEGER"/>
		<result column="ATTACH_PRIV" property="attachPriv" jdbcType="VARCHAR" />
		<result column="USER_PRIV" property="userPriv" jdbcType="VARCHAR" />
		<result column="DEPT_PRIV" property="deptPriv" jdbcType="VARCHAR" />
		<result column="ADD_PROCESS" property="addProcess" jdbcType="VARCHAR" />
		<result column="LEAVE_PRIV" property="leavePriv" jdbcType="VARCHAR" />
		<result column="WRITER_FIELD" property="writerField" jdbcType="VARCHAR" />
		<result column="CHILD_TABLE_PRIV" property="childTablePriv" jdbcType="VARCHAR" />
		<result column="CHILD_TABLE_ROW_PRIV" property="childTableRowPriv" jdbcType="VARCHAR" />
		<result column="PRCS_CONDITION" property="prcsCondition" jdbcType="VARCHAR" />
		<result column="AUTO_USER_MODEL" property="autoUserModel" jdbcType="VARCHAR" />
		<result column="GO_BACK" property="goBack" jdbcType="VARCHAR" />
		<result column="AFTER_CLASS" property="afterClass" jdbcType="VARCHAR" />
		<result column="ATFER_PARAM" property="afterParam" jdbcType="VARCHAR" />
		<result column="PARENT_WAIT" property="parentWait" jdbcType="VARCHAR" />
		<result column="WAIT_PRCS_ID" property="waitPrcsId" jdbcType="VARCHAR" />
		<result column="OP_RULE" property="opRule" jdbcType="VARCHAR" />
		<result column="BEFORE_CLASS" property="beforeClass" jdbcType="VARCHAR" />
		<result column="BEFORE_PARAM" property="beforeParam" jdbcType="VARCHAR" />
		<result column="CHANGE_TITLE" property="changeTitle" jdbcType="VARCHAR" />
		<result column="S_PRCS_AUTO" property="sPrcsAuto" jdbcType="VARCHAR" />
		<result column="S_PRCS_AUTO_OTHER" property="sPrcsAutoOther" jdbcType="VARCHAR" />
		<result column="AUTO_SNED_TYPE" property="autoSendType" jdbcType="VARCHAR" />
		<result column="AUTO_SEND_USER" property="autoSendUser" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="APPROVAL" property="approval" jdbcType="VARCHAR" />
		<result column="APPROVAL_FLAG" property="approvalFlag" jdbcType="VARCHAR" />
		<result column="USER_LEAVE_FLAG" property="userLeaveFlag" jdbcType="VARCHAR" />
		<result column="COUCURRENT_FLAG" property="concurrentFlag" jdbcType="VARCHAR" />
		<result column="GATHER_FLAG" property="gatherFlag" jdbcType="VARCHAR" />
		<result column="PASS_END_FLAG" property="passEndFlag" jdbcType="VARCHAR" />
		<result column="REMIND_CREATE_USER" property="remindCreateUser" jdbcType="VARCHAR" />
		<result column="REMIND_PARTICIPANT" property="remindParticipant" jdbcType="VARCHAR" />
		<result column="REMIND_NEXT_USER" property="remindNextUser" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getProcessByFlowId" resultType="java.util.HashMap">
		SELECT PROCESS_ID AS processId,POINT_X AS x,POINT_Y AS y,PRCS_NAME AS prcsName,PRCS_TYPE AS prcsType,NEXT_PRCS AS nextPrcs
		FROM DOCUMENT_PROCESS WHERE FLOW_ID=#{flowId} AND ORG_ID=#{orgId} ORDER BY SORT_NO ASC
	</select>
	
	<select id="isExist" resultType="Integer">
		SELECT COUNT(1) AS ZS FROM DOCUMENT_PROCESS WHERE FLOW_ID=#{flowId} AND ORG_ID=#{orgId}
	</select>

	<update id="delAndUpdateProcess" >
        UPDATE DOCUMENT_PROCESS SET NEXT_PRCS=REPLACE(NEXT_PRCS,#{processId},'') WHERE FLOW_ID=#{flowId} AND ORG_ID=#{orgId}
	</update>
	
	<select id="getNextPrcs" resultType="java.util.HashMap">
		SELECT ID AS id, FLOW_ID AS flowId, PROCESS_ID AS processId,PRCS_NAME AS prcsName,AUTO_SEND_TYPE AS autoSendType,
		AUTO_SEND_USER AS autoSendUser,OP_RULE AS opRule,S_PRCS_AUTO AS sPrcsAuto,PRCS_TYPE AS prcsType,AUTO_USER_MODEL AS autoUserModel
		FROM DOCUMENT_PROCESS 
		WHERE 
		ORG_ID=#{orgId} AND 
		PROCESS_ID=#{processId}
	</select>	

	<select id="getAlternativePrcsList" resultType="java.util.HashMap">
		SELECT PROCESS_ID AS processId,PRCS_NAME AS prcsName
		FROM DOCUMENT_PROCESS 
		WHERE 
		FLOW_ID=#{flowId} 
		AND ORG_ID=#{orgId}
		AND PROCESS_ID !=#{processId}
		<if test="list!=null">
			AND PROCESS_ID NOT IN
			<foreach collection="list" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
	<select id="getAllDocumentProcessList" resultType="java.util.HashMap">
	SELECT PROCESS_ID AS processId,PRCS_NAME AS prcsName
	FROM DOCUMENT_PROCESS 
	WHERE 
		ORG_ID=#{orgId} 
		AND FLOW_ID=#{flowId}
		AND PRCS_TYPE!='1'
		AND PRCS_TYPE!='2'
	</select>
	
	<select id="getDocumentCacheProcessList" resultType="java.util.HashMap">
	SELECT P.PROCESS_ID AS processId,P.PRCS_NAME AS prcsName,P.PRCS_TYPE AS prcsType,P.FLOW_ID AS flowId,P.CREATE_TIME AS createTime,
	(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=#{orgId} AND U.ACCOUNT_ID=P.CREATE_USER) AS createUserName,
	TEMP.FLOW_NAME AS flowName,TEMP.FORM_ID AS formId,(SELECT F.FORM_TITLE FROM DOCUMENT_FORM F WHERE F.ORG_ID=#{orgId} AND F.FORM_ID=TEMP.FORM_ID) AS formTitle
	FROM DOCUMENT_PROCESS P LEFT JOIN DOCUMENT_FLOW TEMP ON P.ORG_ID=TEMP.ORG_ID AND P.FLOW_ID=TEMP.FLOW_ID 
	WHERE 
			TEMP.FLOW_CACHE='1'
		AND P.PRCS_TYPE!='2'
		<if test="flowId!=''.toString() and flowId!=null">
			AND TEMP.FLOW_ID=#{flowId}
		</if>
		<if test="sortId!=''.toString() and sortId!=null">
			AND TEMP.FLOW_SORT=#{sortId}
		</if>
		<if test="search!='%%'.toString()">
			AND TEMP.FLOW_NAME LIKE #{search}
		</if>
	</select>
	
</mapper>

