<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.document.DocumentListFileMapper">
	<resultMap id="DocumentListFile" type="com.core136.bean.document.DocumentListFile">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="RUN_ID" property="runId" jdbcType="VARCHAR" />
		<result column="FLOW_TITLE" property="flowTitle" jdbcType="VARCHAR" />
		<result column="SORT_ID" property="sortId" jdbcType="VARCHAR" />
		<result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
		<result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
		<result column="FOLLOW" property="follow" jdbcType="VARCHAR" />
		<result column="URGENCY" property="urgency" jdbcType="VARCHAR" />
		<result column="OP_USER_STR" property="opUserStr" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="FLOW_ID" property="flowId" jdbcType="VARCHAR" />
		<result column="ATTACH" property="attach" jdbcType="VARCHAR" />
		<result column="FILING_USER" property="filingUser" jdbcType="VARCHAR" />
		<result column="FILING_TIME" property="filingTime" jdbcType="VARCHAR" />
		<result column="PARENT_RUN_ID" property="parentRunId" jdbcType="VARCHAR" />
		<result column="PARENT_PROCESS_ID" property="parentProcessId" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
	</resultMap>

<select id="getDocumentFileQueryList" resultType="java.util.HashMap">
SELECT ID AS id,RUN_ID AS runId,FLOW_ID AS flowId,FLOW_TITLE AS flowTitle,FILING_TIME AS filingTime,END_TIME AS endTime,
URGENCY AS urgency,ATTACH AS attach,CREATE_USER AS createUser,OP_USER_STR AS opUserStr,
(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID = FILING_USER) AS filingUserName,
(SELECT S.SORT_NAME FROM DOCUMENT_SORT S WHERE S.ORG_ID=ORG_ID AND S.SORT_ID = SORT_ID) AS sortName
FROM DOCUMENT_LIST_FILE
WHERE ORG_ID=#{orgId}
<if test="(sortId!=null) and (sortId!='')">
	AND SORT_ID = #{sortId}
</if>
<if test="(flowId!=null) and (flowId!='')">
	AND FLOW_ID = #{flowId}
</if>
<if test="(filingUser!=null) and (filingUser!='')">
	AND FILING_USER = #{filingUser}
</if>
<if test = "(beginTime!='') and (beginTime!=null)">
	AND FILING_TIME &gt;=#{beginTime}
</if>
<if test = "(endTime!='') and (endTime!=null)">
	AND FILING_TIME &lt;=#{endTime}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
	AND FLOW_TITLE LIKE #{search}
</if>
</select>


</mapper>

